[Unit]
Description=Serve Flask app csstools
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/path/to/csstools
Environment="PATH=/path/to/venv/bin"
ExecStart=/path/to/csstools/venv/bin/python3 app.py

[Install]
WantedBy=nulti-user.target
