[Unit]
Description=Serve Flask app csstools
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/Panda/csstools
Environment="PATH=/home/Panda/csstools/venv/bin"
ExecStart=/home/Panda/csstools/venv/bin/python3 app.py

[Install]
WantedBy=nulti-user.target
