{% extends "base.html" %} {% block content %}
<div class="container mt-3">
  <div class="mt-3"></div>
  <div>
    {% if response %}
    <div class="bg-dark-subtle rounded-top" id="code-area-top">
      <p class="m-0 ps-3 py-1 text-dark" id="code-area-text">Commands:</p>
    </div>
    <div class="bg-dark rounded-bottom">
      <p class="py-3 text-center text-white" id="gpt-output">{{ response }}</p>
    </div>
    {% endif %}
  </div>

  <div class="container mt-3"></div>

  <form id="user-input" action="" method="post">
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="text-area-input"
        name="user_input"
        required
      >
{%if user_inputed: %}{{user_inputed}}{% endif %}</textarea
      >
      <label for="text-area-input">Describe what you need here:</label>
    </div>
    <button type="submit-btn" class="btn btn-primary mt-2" id="submit-btn">
      <span role="status">Get the Command</span>
    </button>
  </form>
</div>
{% endblock %}
