{% extends "base.html" %} {% block content %}
<div class="container mt-3">
  <h1>CL Guru</h1>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseOne"
        >
          How to use
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">{{ help_text }}</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          Options
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="mb-3">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic radio toggle button group"
            >
              <input
                type="radio"
                class="btn-check"
                name="os_type"
                id="linux"
                autocomplete="off"
                value="Linux"
                checked
              />
              <label class="btn btn-outline-primary" for="linux">Linux</label>

              <input
                type="radio"
                class="btn-check"
                name="os_type"
                id="windows"
                autocomplete="off"
                value="Windows"
              />
              <label class="btn btn-outline-primary" for="windows"
                >Windows</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      {% if response_text %}
      {{ response_text }}
      {% endif %}
      

      <form action="{{ url_for('cli.root') }}" method="post">
        <div class="mb-3">
          <label for="user_input" class="form-label">Your input:</label>
          <textarea
            id="user_input"
            name="user_input"
            class="form-control"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    {% endblock %}
  </div>
</div>
